body {
    background-color: #fff;
}

.no-display {
    display: none;
}

.center {
    font-family: 'Varela', sans-serif;
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-family: 'Varela', sans-serif;
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    font-family: 'Varela', sans-serif;
    padding: 10px;
    font-size: 12px;
}

.result-label {
    font-family: 'Varela', sans-serif;
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}

button.choose-file-button {
    font-family: 'Varela', sans-serif;
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #3898ec;
    font-size: 13px;
    color: #3898ec;
}

button.analyze-button {
    font-family: 'Varela', sans-serif;
    width: 200px;
    height: 40px;
    border: solid 1px #3898ec;
    border-radius: 2px;
    background-color: #3898ec;
    font-size: 13px;
    color: #ffffff;
}

button:focus {
    outline: 0;
}
kjkjlkjad {
}
